/* -------------------- OFFERS DESCRIPTION --------------------*/

.align-content-center {
    align-content: center;
}

.padding-15 {
    padding: 15px;
}

/* Header */

.cross {
    font-size: 25px;
    color: #382D91;
}

.cross:hover {
    font-size: 23px;
    cursor: pointer;
}

.sidebar-header h5 {
    font-size: 22px;
    margin-top: 6px;
    text-align: center;
}

.card-text-desc-offers {
    text-align: right;
}

.card-img-desc-offers {
    min-height: 200px;
    top: 0;
    right: 0;
    float: right;
    background-image: url(../../img/cards/card_1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    border: none;
    border-bottom-left-radius: 15px;
}

/* Content */

.sidebar-content {
    padding: 10px;
    overflow-y: scroll;
    overflow-x: hidden;
    max-height: 500px;
}

.title-post-desc-offers {
    font-size: 25px;
    font-weight: Bold;
    text-transform: uppercase;
}

.textgroup-desc-offers {
    text-align: justify;
}

.subtitle-post-desc-offers {
    font-size: 16;
    font-weight: bold;
    text-transform: uppercase;
}

/* Footer */

.sidebar-footer {
    width: 500px;
    margin: 0 auto;
    bottom: 0;
    padding: 10px;
}

.card-btn-desc-offers {
    display: block;
    position: relative;
    margin: 0 auto;
    justify-content: center;
    padding: 10px;
    color: #382D91;
    text-align: center;
    border: 2px solid #382D91;
    border-radius: 50px;
    background-color: #fff;
}

.card-btn-desc-offers:hover {
    cursor: pointer;
    color: #fff;
    background: #382D91;
    text-align: center;
    text-decoration: none;
}

/*#sidebarCollapse {
}*/

.sidebarCollapse {
    transition: all 0.8s cubic-bezier(0.810, -0.330, 0.345, 1.375);
}

.sidebarCollapse span:first-of-type {
    /* rotate first one */
    transform: rotate(45deg) translate(2px, 2px);
}
.sidebarCollapse span:nth-of-type(2) {
    /* second one is not visible */
    opacity: 0;
}
.sidebarCollapse span:last-of-type {
    /* rotate third one */
    transform: rotate(-45deg) translate(1px, -1px);
}

.sidebarCollapse.active span {
    /* no rotation */
    transform: none;
    /* all bars are visible */
    opacity: 1;
    margin: 5px auto;
}

#sidebar {
    position: fixed;
    z-index: 1000;
    height: 100vh;
    padding: 50px 10px;
    float: right;
    right: 0;
    min-width: 540px;
    max-width: 600px;
    background: #fff;
    color: #000;
    border: 2px solid #382D91;
    transition: all 0.6s cubic-bezier(0.945, 0.020, 0.270, 0.665);
    transform-origin: center right; /* Set the transformed position of sidebar to center right side. */
    cursor: pointer;
}

.hide {
    display: none;
}

#sidebar.active {
    margin-right: -300px;
    transform: rotateY(100deg); /* Rotate sidebar vertically by 100 degrees. */
}

.overlay {
    position: absolute;
    float: left;
    top: 0;
    /* full screen */
    width: 100vw;
    height: 100vh;
    /* transparent black */
    background: rgba(57, 45, 145, 0.95);
    /* middle layer, i.e. appears below the sidebar */
    z-index: -1;
    opacity: 0;
    /* animate the transition */
    transition: all 0.5s ease-in-out;
}
/* display .overlay when it has the .active class */
.overlay.active {
    display: block;
    opacity: 1;
    z-index: 998;
    cursor: pointer;
}

#dismiss {
    width: 35px;
    height: 35px;
    /* top right corner of the sidebar */
    left: 10px;
    float: left;
}

@media (max-width: 768px) {
    /* Reversing the behavior of the sidebar: 
       it'll be rotated vertically and off canvas by default, 
       collapsing in on toggle button click with removal of 
       the vertical rotation.   */
    #sidebar {
        margin-right: -300px;
        transform: rotateY(100deg);
    }
    #sidebar.active {
        margin-right: 0;
        transform: none;
    }

    /* Reversing the behavior of the bars: 
       Removing the rotation from the first,
       last bars and reappear the second bar on default state, 
       and giving them a vertical margin */
    .sidebarCollapse span:first-of-type,
    .sidebarCollapse span:nth-of-type(2),
    .sidebarCollapse span:last-of-type {
        transform: none;
        opacity: 1;
        margin: 5px auto;
    }

    /* Removing the vertical margin and make the first and last bars rotate again when the sidebar is open, hiding the second bar */
    .sidebarCollapse.active span {
        margin: 0 auto;
    }
    .sidebarCollapse.active span:first-of-type {
        transform: rotate(45deg) translate(2px, 2px);
    }
    .sidebarCollapse.active span:nth-of-type(2) {
        opacity: 0;
    }
    .sidebarCollapse.active span:last-of-type {
        transform: rotate(-45deg) translate(1px, -1px);
    }
}